/* Index.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}



#contenedor1{
    position: relative;
    width: 100%;
    height:40rem;
    background-size: 100% 100%;
    overflow: hidden;
    color: white;

    justify-content: center;
    align-items: center;
    background-image: url('images/fondo-pantalla.png');
}
#cuerpo {
    animation: slideUp 2s ease-out;
    position: relative;
    width: 100%;
    height:40rem;
    background-size: 100% 100%;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de las estrellas */
.star {
    position: absolute;
    top: 10%; /* Ajusta según sea necesario */
    width: 4px; /* Tamaño más pequeño para las estrellas */
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow; /* Estela de la estrella */
    animation-name: moveStar;
    animation-timing-function:ease-in-out
}

/* Animación de movimiento de las estrellas */
@keyframes moveStar {
    0% {
        transform: translateX(50vw);
        opacity: 1;
    }
    100% {
        transform: translatey(100vw); /* Moviéndose hacia la derecha */
        opacity: 0; /* Desaparece al final */
    }
}





#titulo1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

#titulo2{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#subtitulo1{
    font-weight: 700;
    font-size: 1.4REM;
    color:#025add;
}

#enlaces img{
    height: 2rem;
    width: 2rem;
}

#barra-navegador{
    background-color: rgba(255, 0, 0, 0) !important;
}

#titulo-barra{
    font-weight: 700;
    font-size: 1.4REM;
    color:#025add;
}

#opciones-barra{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white !important;
}

.navbar-toggler{
    background-color: white !important;
}

.nav-item{
    margin-left: 10rem;
}

@media (max-width: 600px){
    
 #contenedor1{
    height: auto;
    display: block !important;
    background-size: cover !important;
 }
    #titulo-barra{
        font-weight: 700;
        font-size: 1.2rem !important;
        color:#025add;
    }

    .nav-item{
        margin-left: 0rem !important;
    }


    #titulo1 {
        margin-bottom: 1rem !important;
        line-height: 2.2rem !important;}


        #subtitulo1 {
            margin-bottom: 2rem !important;
            font-weight: 700;}


            #titulo2 {
                margin-bottom: 1rem !important;
                line-height: 1.2rem !important;
            }

}



@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




/* Estilo cuando el cursor pasa por encima */
#opciones-barra:hover {
    color: rgb(100, 102, 252) !important; /* Cambia el color del texto a rojo */
}